body {
    background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
    font-family: 'Exo 2', 'sans-serif';
    overflow-x: hidden;
    background-attachment: fixed;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
}
